@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Tombol dengan animasi kedap kedip */
.btn-fill-data {
  width: 100%;
  background: #2762be;
  margin-top: -8px;
  animation: blinking 1s infinite; /* 1s untuk kecepatan animasi, infinite untuk mengulangi secara terus menerus */
}

.btn-fill-data:hover {
  background-color: #2762be;
}

.btn-detail {
  background-color: #2762be !important;
  color: white !important;
}

/* CartV2 */
.card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group {
  max-width: 125px;
}

.Bank {
  display: flex;
  align-items: center; /* Pusatkan vertikal konten dan gambar */
}

.radio-check {
  margin-left: auto;
}

.saveNoteBtn {
  background-color: #2762be;
}

/* Gaya saat input aktif (diklik) */
.form-control:focus {
  border-color: #4d90fe; /* Ganti dengan warna yang diinginkan */
  box-shadow: 0 0 10px rgba(77, 144, 254, 0.3); /* Ganti dengan gaya bayangan yang diinginkan */
  outline: none;
}

/* Gaya ketika input di hover (opsional) */
.form-control:hover {
  border-color: #ccc; /* Ganti dengan warna yang diinginkan */
}

/* Gaya ketika input tidak diklik */
.form-control {
  transition: border-color 0.3s, box-shadow 0.3s; /* Efek transisi ketika diklik */
  border: 1px solid #ccc; /* Ganti dengan warna batas yang diinginkan */
  border-radius: 5px; /* Ganti dengan radius border yang diinginkan */
  padding: 8px 12px; /* Sesuaikan dengan padding yang diinginkan */
  font-size: 16px; /* Sesuaikan dengan ukuran font yang diinginkan */
}

.scrollable-menu {
  max-height: 200px; /* Adjust the height as needed */
  overflow-y: auto;
  scroll-behavior: smooth !important;
}

@media screen and (max-width: 920px) {
  .card-wrapper {
    font-size: 12px !important;
    display: block;
  }

  .text-link {
    font-size: 13px !important;
  }

  .kurir-wrapper {
    font-size: 12px;
    display: block !important;
  }

  .text-item {
    font-size: 12px;
  }

  .btn-fill-data {
    width: 100% !important;
    font-size: 11px;
  }

  .cart {
    margin-top: 90px !important;
  }

  .card-title {
    font-size: 15px;
  }
}
