@media screen and (max-width: 920px) {
  .small-img > img {
    width: 100%;
  }

  .container-text-detail {
    margin-left: 0px !important;
  }

  .container > .detail-product {
    margin-top: 150px !important;
  }
}

.stock-number {
  display: flex;
}

.stock-number-shape {
  width: 40px;
  color: white;
  text-align: center !important;
  background-color: #2762be;
}

.container-text-detail {
  margin-left: 50px;
}

.accordion-button {
  background-color: #2762be !important;
}

.cart-item-container {
  display: flex;
  align-items: center;
}

.input-group {
  display: flex;
  align-items: center;
  max-width: 125px;
  margin-bottom: 15px; /* Hapus margin bawah pada input group */
}

.input-group .input-group-btn {
  display: flex;
}

/* Atur margin agar tombol dan input group tidak terlalu dekat */
.cart-item-container button,
.cart-item-container .input-group {
  margin-right: 10px;
}

.btn-detail {
  background-color: #2762be !important;
  color: white !important;
}

.carousel-item {
  transition: opacity 0.6s ease-in-out;
}

.slide-product > i:hover {
  color: grey !important;
}
