/* Carousel */
.crsl {
  margin-top: 170px !important;
}
.carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: white;
}
.carousel-inner {
  border-radius: 10px 10px 10px 10px;
}

/* Catalog Product */
.catalog-product {
  margin-top: 150px;
}

/* Choose By Categories */
.choose-by-categories {
  margin-top: 150px;
}

.btn-bedding {
  background-color: #2762be;
  color: white;
  width: 200px;
}

.btn-bedding:hover {
  background-color: transparent;
  border: 3px solid #2762be;
  color: #3b5998;
}

/* All Products */
.all-products {
  margin-top: 150px;
}

/* detail */
.detail .bi {
  color: #2762be;
}

.detail .badge {
  background-color: #2762be;
}

.detail a {
  background-color: #2762be;
}

/* Instagram */
.instagram {
  margin-top: 150px;
}

@media screen and (max-width: 920px) {
  .crsl {
    margin-top: 100px !important;
  }
  .card {
    display: block;
    margin: auto;
    width: 250px !important;
  }

  .catalog-product {
    margin-top: 10px;
  }

  .choose-by-categories h2 {
    text-align: center;
    margin-top: 65px;
  }

  .all-products h2 {
    text-align: center;
    margin-top: 65px;
  }

  .cat-h2-headline {
    font-size: 22.5px;
  }
  .cat-h6-headline {
    font-size: 12.5px;
  }

  .h2-cbc {
    font-size: 20px;
  }

  .h2-apd {
    font-size: 20px !important;
  }

  .detail .badge {
    font-size: 9px !important;
  }

  .detail h5 {
    font-size: 15px;
  }

  .detail p {
    font-size: 15px;
  }

  .detail a {
    font-size: 13px;
  }

  .instagram > h2 {
    font-size: 30px !important;
  }

  .choose-by-categories {
    margin-top: -20px;
  }
}
